.Background {
  background-color: white;
  border-radius: 5px;
  box-sizing: border-box;
  display: flex;
  height: calc(100vh - 150px);
  justify-content: center;
  padding: 30px;
  position: relative;
}

.BackButton {
  left: 21px;
  position: absolute;
  top: 21px;
}

.Icon {
  fill: var(--grey-button-color);
  height: 11px;
  width: 13px;
}

.Layout {
  box-sizing: border-box;
  display: flex;
  flex: 1 1 700px;
  flex-direction: column;
  height: calc(100vh - 220px);
  margin: 20px;
  max-width: 1200px;

  & .Title {
    align-self: flex-start;
    font-size: 20px;
  }

  & .ResultsTable {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 250px);
    margin: 29px;
    overflow-y: auto;
  }
}

.NoResults {
  color: var(--grey-button-color);
  font-size: 16px;
  margin-top: 50px;
  text-align: center;
}

.Spinner {
  align-self: center;
  position: absolute;
}
