.InputWrapper {
  display: inline-block;
  position: relative;
  width: 100%;

  &.round {
    border-radius: 20px;
  }

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  & .Input {
    background: var(--bg);
    border: none;
    box-sizing: border-box;
    display: block;
    line-height: 1.5em;
    min-height: 25px;
    padding: 3px 10px;
    width: 100%;

    &:focus {
      outline: none;
    }
  }

  & .Label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
  }
}

.hasError {
  border: solid 1px var(--ui-red);
}

.Error {
  bottom: -15px;
  color: var(--ui-red);
  font-size: 11px;
  position: absolute;
  right: 0;
}
