.Cell {
  border-top: 1px solid #d8d8d8;
  box-sizing: border-box;
  display: grid;
  gap: 31px;
  grid-template-columns: 102px 356px 1fr;
  height: 76px;
  padding: 7px 14px;
  width: 100%;

  & .Thumb {
    border-radius: 5px;
    box-sizing: border-box;
    height: 62px;
    width: 102px;
  }

  & .NoImage {
    align-items: center;
    border-radius: 3px 3px 0 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: #eee;
  }

  & .Text {
    display: flex;
    flex-direction: column;
    padding: 5px 0;

    & .Title {
      font-size: 16px;
      font-weight: bold;
      margin: 3px 0;
    }
    & .Date {
      font-size: 14px;
    }
  }
}

.Controls {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ControlGrid {
  display: flex;
  flex-direction: column;

  column-gap: 10px;
  row-gap: 8px;
  & .Downloads {
    display: flex;

    & .Icon {
      height: 13px;
      width: 13px;
      margin-right: 7px;
    }

    & .Count {
      align-items: center;
      color: var(--grey-button-color);
      display: flex;
      height: 13px;
      font-size: 13px;
      justify-content: flex-end;
      text-align: right;
    }
  }
}
