.UserDetails {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  height: 50px;
  padding: 5px;
  width: 100%;
}

.CopyBtn {
  height: 18px;
  margin-left: 10px;
  width: 15px;
}

.CopyIcon {
  height: 18px;
  width: 15px;
}

.CopyIcon:hover {
  filter: opacity(50%);
}

.CopyIcon:active {
  filter: opacity(100%);
}

.FollowBtn {
  background-color: var(--grey-button-color);
  border-radius: 20px;
  box-sizing: border-box;
  color: white;
  font-size: 7pt;
  height: 11px;
  padding: 3px;
  width: 27px;
}

.IDBits {
  align-items: center;
  display: flex;
  flex: 1 1 auto;
  font-size: 14px;
  height: 100%;
  justify-content: space-between;
  width: 100%;
}

.IDHash {
  flex: 1 2 12vw;
  font-weight: 300;
  max-width: 12vw;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.Label {
  flex: 0 0 25px;
  font-weight: 300;
  margin-right: 10px;
}

.Avatar {
  border-radius: 50%;
  flex: 0 0 28px;
  height: 28px;
}

.Text {
  align-items: center;
  align-self: flex-start;
  display: flex;
  flex: 1 1 auto;
  margin: 10px 0 0 10px;
}
