.DownloadItemContainer {
  align-items: center;
  display: flex;
  position: relative;

  & .DeleteButton {
    opacity: 0;
    position: absolute;
    right: 0;
    top: 6px;
    transition: opacity 0.1s linear;
    width: 25px;

    & .DeleteIcon {
      fill: var(--dark-grey);
      height: 12px;
      width: 12px;
    }
  }

  &:hover {
    .DeleteButton {
      opacity: 1;
    }
  }

  & .DownloadItem {
    width: 85%;

    .Download {
      align-items: center;
      border-bottom: solid 1px var(--bg);
      display: flex;
      justify-content: space-between;
      padding: 5px 0;
      width: 100%;

      & .Title {
        overflow: hidden;
        text-align: start;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 85%;
      }

      & .Loading {
        font-size: 8px;
        height: 15px;
        width: 15px;
      }

      & .CheckmarkIcon {
        fill: var(--emerald);
        height: 13px;
        width: 13px;
      }

      & .CancelledIcon {
        fill: var(--ui-red);
        height: 13px;
        width: 13px;
      }
    }

    & .ProgressBar {
      height: 3px;
      position: relative;
      width: 100%;

      & .Progress {
        background-color: var(--emerald);
        border-radius: 1px;
        height: 3px;
        position: absolute;
        z-index: 5;
      }
    }
  }
}
