.Form {
  width: 410px;
  padding: 35px 62px;

  & .SearchDefaultName {
    font-size: 20px;
    text-align: center;
    font-weight: 500;
    margin-bottom: 22px;
  }

  & .Title {
    font-size: 16px;
    margin-bottom: 12.5px;

    text-align: center;
  }

  & .ActionButtons {
    margin-top: 27px;
    display: flex;
    justify-content: space-around;

    & .Button {
      width: 25%;
    }
  }
}
