.Container {
  position: relative;
}

.HoverButton {
  display: none;
}

.Container:hover {
  .HoverButton {
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: absolute;
    right: 3%;
    top: 3%;
  }
}

.Image {
  border-radius: 3px;
  height: 100%;
  object-fit: fill;
  width: 100%;
}

.NoImage {
  background-color: #ddd !important;
  background-image: none !important;
  border-radius: 3px 3px 0 0;
}

.Link {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}
