.Container {
  position: relative;
}
.Container:hover {
  .ShareButton {
    align-items: center;
    display: flex;
    justify-content: center;
  }
}

.Image {
  border-radius: 3px;
  height: 100%;
  object-fit: fill;
  width: 100%;
}

.ShareButton {
  background-color: white;
  border-radius: 2px;
  display: none;
  height: 26px;
  position: absolute;
  right: 5%;
  top: 8%;
  width: 26px;

  & .Icon {
    fill: black;
    height: 16px;
    width: 16px;
  }
}

.NoImage {
  align-items: center;
  border-radius: 3px 3px 0 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  background-image: none !important;
  background-color: #eee !important;
}
