.Container {
  position: relative;
}
.Container:hover {
  .HoverButton {
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: absolute;
    top: 3%;
    right: 3%;
  }
}

.HoverButton {
  display: none;
}

.Image {
  border-radius: 3px;
  height: 100%;
  object-fit: fill;
  width: 100%;
}

.NoImage {
  align-items: center;
  border-radius: 3px 3px 0 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  background-image: none !important;
  background-color: #eee !important;
}
