.CopyBtn {
  height: 18px;
  margin-left: 10px;
  width: 15px;
}

.CopyIcon {
  height: 18px;
  width: 15px;
}

.CopyIcon:hover {
  filter: opacity(50%);
}

.CopyIcon:active {
  filter: opacity(100%);
}
