.Container {
  align-items: center;
  background: #e0edfa;
  border: 1.5px dashed #2f8bdf;
  border-radius: 4px;
  color: #2f8bdf;
  cursor: pointer;
  display: flex;
  justify-content: center;
  max-width: 314px;
  padding: 12px;

  & .Preview {
    height: 100%;
    object-fit: cover;
    width: 100%;
  }

  &:focus {
    outline: none;
  }

  & .Label {
    color: #2f8bdf;
    font-size: 12px;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
  }

  &.hasFile {
    border: 1px solid #2f8bdf;

    & .Label {
      color: #2f8bdf;
    }
  }
}
