.FileBoxMini {
  color: currentColor;
  display: flex;
  flex-direction: column;
  text-decoration: none;

  & .FileImageBox {
    border-radius: 4px;
    height: 60px;
    margin-bottom: 7px;
    width: 106px;

    & .FileImage {
      height: 100%;
      width: 100%;
    }
  }

  & .NoImage {
    align-items: center;
    background-color: var(--dull-grey);
    border-radius: 4px;
    box-sizing: border-box;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100%;
  }

  & .FileName {
    max-width: 90px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
