.FileBox {
  background-color: #fff;
  border-radius: 3px;
  color: #000;
  display: flex;
  flex-direction: column;
  height: 164px;
  text-decoration: none;
  width: 223px;

  & .ImageContainer {
    height: 105px;
    width: 223px;

    & .FileImage {
      border-radius: 3px 3px 0 0;
      height: 100%;
      object-fit: cover;
      width: 100%;
    }

    & .NoImage {
      align-items: center;
      background-color: var(--dull-grey);
      border-radius: 3px 3px 0 0;
      box-sizing: border-box;
      display: flex;
      height: 100%;
      justify-content: center;
      width: 100%;
    }
  }

  & .InfoSection {
    display: flex;
    flex-direction: column;
    height: calc(60px - 13px);
    padding: 6px 15px;
    width: calc(100% - 30px);

    & .Top {
      color: var(--grey-button-color);
      display: flex;
      font-size: 10px;
      font-size: 14px;
      justify-content: space-between;
      margin-bottom: 6px;

      & .Likes {
        align-items: center;
        display: flex;
        font-size: 16px;

        & .Heart {
          height: 13px;
          margin-right: 3px;
        }
      }

      & .Downloads {
        font-size: 15px;

        & .Flame {
          height: 12px;
          margin-right: 10px;
        }

        & .DownloadIcon {
          fill: #5ed3be;
          height: 12px;
          margin-right: 3px;
        }
      }
    }

    & .FileName {
      font-size: 14px;
      max-width: 185px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}

.Link {
  color: currentColor;
  text-decoration: none;
}
