.Cell {
  align-items: center;
  display: flex;
  flex-basis: 350px;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;

  & .Image {
    height: auto;
    width: 100%;

    .MainImage {
      aspect-ratio: 7/4;
      background-color: #444;
      border-radius: 3px 3px 0 0;
      box-sizing: border-box;
      height: auto;
      object-fit: cover;
      width: 100%;
    }

    .NoImage {
      align-items: center;
      background-color: var(--dull-grey);
      border-radius: 10px;
      box-sizing: border-box;
      display: flex;
      height: 195px;
      justify-content: center;
      width: 350px;
    }
  }
}

.ItemTitle {
  box-sizing: border-box;
  font-size: 20px;
  font-weight: 600;
  width: 100%;
}

.PurchaseButton {
  width: 86px;
}

.PurchaseControls {
  align-items: center;
  display: flex;
  height: 100px;
  justify-content: center;
  width: 100%;
}
