.Peer {
  align-items: center;
  display: flex;

  & .FlagContainer {
    display: flex;
    justify-content: center;
    min-width: 50px;

    & .Flag {
      height: 30px;
      width: 30px;
    }
  }
}
