.PeersButton {
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  padding: 10px;
  background-color: var(--bg);
  border: 0.5px solid var(--grey-button-color);
  color: var(--grey-button-color);
  box-shadow: inset 0px -4px 4px rgba(0, 0, 0, 0.05), inset 0px 4px 4px #ffffff;
}

.DotIcon {
  width: 10px;
  margin-right: 5px;
  fill: var(--ui-green);
}

.Spinner {
  width: 10px;
  height: 10px;
  font-size: 10px;
  margin: 0 5px 0 0;
}

.PeersPopper {
  background-color: #fff;
  padding: 20px 35px;
  display: flex;
  flex-direction: column;
  border-radius: 3px;
  box-shadow: var(--box-shadow-1);

  & .PeersContainer {
    max-height: 190px;
    overflow-y: auto;

    & > :nth-child(2) {
      margin-top: 20px;
    }

    & .HeaderRow {
      display: flex;
      background-color: white;
      height: 20px;
      position: fixed;

      & .Header {
        min-width: 50px;
        font-weight: bold;
        text-align: center;
      }

      & :last-child {
        min-width: 315px;
      }
    }
  }
}
