.FootBar {
  background-color: #fff;
  bottom: 0;
  display: flex;
  align-items: center;
  padding: 5px 18px;
  height: 18px;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: 5;
  border-top: solid 1px var(--bg);

  & .CurrentVersion {
    margin-right: 10px;
  }

  & .UpdateStatus {
    font-weight: 400;
    & a {
      color: var(--emerald);
    }
  }
}
