.QRBox {
  align-items: center;
  background-color: none;
  border-top: 1px solid #e9ebef;
  display: flex;
  height: 110px;
  justify-content: center;
  width: 100%;

  & .QRCodeImg {
    height: 100px;
    width: 100px;
  }
}
