.QRBox {
  align-items: center;
  border-top: 1px solid #e9ebef;
  display: flex;
  justify-content: center;
  height: 100px;
  width: 100%;
  & .QRCodeImg {
    height: 100px;
    width: 100px;
  }
}
