.SettingsIcon {
  height: 16px;
  position: absolute;
  right: 20px;
  top: 15px;
  width: 18px;
}

.FiltersPopper {
  background-color: #fff;
  border-radius: 3px;
  box-shadow: var(--box-shadow-1);
  display: flex;
  flex-direction: column;
  padding: 20px 35px;

  & .Title {
    margin-bottom: 12px;
  }

  & .FiltersContainer {
    & > :not(:last-child) {
      margin-bottom: 16px;
    }
  }

  & .ApplyButton {
    font-size: 14px;
    margin: 0 auto;
    max-width: 70px;
  }
}

.Label {
  display: flex;
  width: fit-content;

  & .Icon {
    margin-right: 5px;
    width: 15px;
  }
}
