.Search {
  height: calc(100vh - 200px);
  overflow-x: hidden;
  overflow-y: auto;

  & .Title {
    font-size: 18px;
    margin-bottom: 10px;
  }

  & .ResultsContainer {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
    justify-items: flex-start;

    & .Cell {
      align-items: center;
      display: flex;
      justify-content: center;
      width: 225px;
    }
  }

  & .NoResults {
    color: var(--grey-button-color);
    font-size: 16px;
    margin-top: 50px;
    text-align: center;
  }
}
