.SimilarProducts {
  padding: 10px 0;
  width: 250px;
  flex: 0 0 250px;

  & .Title {
    font-size: 18px;
    font-weight: 600;
  }
}

.VertFileBox {
  display: grid;
  gap: 15px;
  grid-template-columns: 1fr;
  height: 430px;
  margin-top: 23px;
  overflow-y: auto;
  width: 100%;
}
