.PopularSection {
  height: calc(100vh - 150px);
  -ms-overflow-style: none;
  overflow-y: auto;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  & > :not(:last-child) {
    margin-bottom: 25px;
  }

  & .Section {
    & .Title {
      font-size: 16px;
      margin-bottom: 12px;

      & .CategoryLink {
        color: var(--emerald);
        font-size: 16px;
        text-transform: capitalize;
      }
    }
  }
}
