.PicBox {
  & .ProPic {
    align-items: center;
    border-radius: 50%;
    display: flex;
    height: 80px;
    justify-content: center;
    width: 80px;
  }
}

.MyPicBox {
  position: relative;

  & .ProPic {
    align-items: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    height: 80px;
    justify-content: center;
    width: 80px;
  }
  & .EditMessage {
    top: 50%;
    left: 50%;
    transform: translate(-90%, -50%);
    font-size: 16px;
    color: white;
    visibility: hidden;
    position: absolute;
    cursor: pointer;
    user-select: none;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
      1px 1px 0 #000;
  }

  & .HiddenInput {
    display: none;
  }

  &:hover {
    & .ProPic {
      opacity: 0.6;
    }

    & .EditMessage {
      visibility: visible;
    }
  }
}
