.Background {
  background-color: var(--bg);
  background-color: white;
  border-radius: 5px;
  box-sizing: border-box;
  display: flex;
  height: calc(596px - 40px);
  justify-content: center;
  padding: 40px;
  position: relative;
}

.BackButton {
  position: absolute;
  top: 21px;
  left: 21px;
}

.Icon {
  width: 13px;
  height: 11px;
  fill: var(--grey-button-color);
}

.Layout {
  height: calc(596px - 40px);
  display: grid;
  gap: 0 42px;
  grid-template-columns: 348px 273px 250px;
}
