.DownloadQueue {
  height: 30vh;
  width: 73%;

  & .ListContainer {
    height: 25vh;
    overflow-y: auto;
  }

  & .Title {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 15px;
  }

  .NoDownloads {
    color: var(--grey-button-color);
    font-size: 11px;
  }
}
