.DownloadSidebar {
  align-items: center;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 29px - 32px);
  left: 0;
  padding: 16px 0;
  position: absolute;
  top: 0;
  width: 205px;
  z-index: 1000;

  & .LogoSection {
    display: flex;
    flex-direction: column;
    margin-bottom: 18px;

    & .ConunLogo {
      height: 35px;
      margin: 5px 0;
      transform: translateX(-5px);
    }

    & .ManagerButton {
      align-items: center;
      border-radius: 4px;
      display: flex;
      font-size: 13px;
      height: 10px;
      justify-content: center;
      margin-top: 7px;
      padding: 10px 5px;

      & .DotIcon {
        fill: var(--ui-red);
        margin-right: 5px;
        width: 10px;

        &.online {
          fill: var(--ui-green);
        }
      }
    }
  }

  & .UserPicture {
    border-radius: 50%;
    height: 45px;
    height: 64px;
    margin-bottom: 24px;
    width: 45px;
    width: 64px;

    & .Picture {
      border-radius: 50%;
      height: 100%;
      width: 100%;
    }
  }

  .WalletAddressContainer {
    display: flex;
    margin-bottom: 30px;
    width: 70%;

    & .WalletAddress {
      background: transparent;
      border: none;
      cursor: pointer;

      &:hover {
        color: var(--dark-grey);
      }
    }
  }

  & .ArrowButton {
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 5px;
    top: 50%;

    &:focus {
      outline: none;
    }

    & .Arrow {
      fill: var(--grey-button-color);
      height: 15px;
    }
  }
}
