.Sidebar {
  background-color: #fff;
  box-shadow: var(--box-shadow-1);
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: absolute;
  right: 0;
  top: 0;
  width: 276px;
  z-index: 1000;

  & .ActionsBar {
    display: flex;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: 0;
    padding-right: 18px;
    padding-top: 16px;

    & :not(:last-child) {
      margin-right: 7px;
    }

    & .ActionButtonAdd {
      align-items: center;
      background-color: var(--bg);
      border: 0.5px solid var(--grey-button-color);
      border-radius: 50%;
      box-shadow: inset 0 -4px 4px rgba(0, 0, 0, 0.05), inset 0 4px 4px #fff;
      color: var(--grey-button-color);
      display: flex;
      height: 24px;
      justify-content: center;
      width: 24px;

      & .Icon {
        fill: var(--grey-button-color);
        height: 15px;
      }
    }

    & .ActionButton {
      align-items: center;
      border-radius: 4px;
      display: flex;
      height: 24px;
      padding: 12.5px 6px;
      width: fit-content;

      & .Icon {
        fill: var(--grey-button-color);
        height: 18px;
      }
    }
  }

  & .Title {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 26px;
    padding: 0 32px;
  }

  & .SavedSearchesContainer {
    display: flex;
    flex-direction: column;
    overflow-y: auto;

    & > :not(:last-child) {
      margin-bottom: 60px;
    }

    & .Search {
      & .SearchHeader {
        align-items: center;
        background-color: #e9ebef;
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
        padding: 0 20px;

        & .GlassIcon {
          fill: var(--dark-grey);
          height: 9px;
          margin-right: 2px;
        }

        & .SearchTitle {
          color: var(--dark-grey);
          font-size: 12px;
        }

        & .RemoveButton {
          height: 18px;

          & .RemoveIcon {
            height: 18px;
          }
        }
      }

      & .FilesContainer {
        padding-left: 15px;
      }
    }
  }
}
