.FileProperties {
  color: #333;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  margin-top: 10px;
  width: 100%;

  & > :not(:last-child) {
    margin-bottom: 5px;
  }

  & .Property {
    font-size: 14px;

    & span {
      font-size: 14px;
    }
  }
}
