.ThumbnailEditor {
  display: flex;
  flex-direction: column;
}

.Controls {
  margin: 5px;
  display: grid;
  grid-template-columns: 60px 1fr;
}

.HiddenInput {
  display: none;
}

.Button {
  margin:10px 0;
}