.LaterList {
  width: 73%;
  height: 30vh;

  & .ListContainer {
    height: 25vh;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
  }

  & .Title {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 15px;
  }

  .NoItems {
    color: var(--grey-button-color);
    font-size: 11px;
  }
}
