.LaterList {
  height: 30vh;
  width: 73%;

  & .ListContainer {
    display: flex;
    flex-direction: column;
    height: 25vh;
    overflow-x: hidden;
    overflow-y: auto;
  }

  & .Title {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 15px;
  }

  .NoItems {
    color: var(--grey-button-color);
    font-size: 11px;
  }
}
